<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium ullam similique magnam atque! Consectetur aliquam eveniet nihil voluptatum veniam, voluptate esse aliquid. Veritatis dolore pariatur eos eius, distinctio qui quidem.</p>

<%- include("footer") -%>
